body {
    background-color: #222222;
    min-height: 100%;
    height: 100%;
}

h1 {
    color: white;
}

p {
    color: white;
}

.nav {
    color: white;
    text-align: center;
}

.nav-btn {
    height: 100px;
    width: 100%;
    background-color: #000000;
    color: white;
    font-size: 175%;
    border-radius: 0px;
}

.nav-btn:hover {
    color: #ffffff;
    background-color: #444444;
}

.logo {
    width: 100px;
}

.logo:hover {
    background-color: #444444;
}
